@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primitives */
:root {
	--accent: rgb(114, 82, 255);
	--text: rgb(71 85 105);
	--primary: 225 225 225;
	--secondary: 30 30 30;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: 30 30 30;
		--secondary: 225 225 225;
		--text: rgb(148 163 184);
	}
}

.accent {
	color: var(--accent);
}

.text {
	color: var(--text);
}

.bg-accent {
	background-color: var(--accent);
}

.primary {
	color: rgb(var(--primary));
}

.secondary {
	color: rgb(var(--secondary));
}

.bg-primary {
	background-color: rgb(var(--primary));
}

.bg-secondary {
	background-color: rgb(var(--secondary));
}

.border-secondary {
	border-color: rgb(var(--secondary)) !important;
}

.milky {
	@apply bg-[rgb(var(--secondary)_/_0.75)] backdrop-blur border-secondary !important;
}

body {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
	@apply text bg-primary;
}

h1 {
	@apply text-5xl font-extrabold secondary;
}

h2 {
	@apply text-3xl font-bold secondary;
}

h3 {
	@apply text-xl text;
}

h4 {
	@apply accent spaced-out;
}

ul {
	list-style: disc outside;
}

p,
li {
	@apply leading-relaxed text-xl font-light;
}

li {
	@apply ml-4 pl-2;
}

li::marker {
	content: "▻";
	color: var(--accent);
	font-size: 1.5rem;
}

/* Webkit */

.custom-scrollbar::-webkit-scrollbar {
	@apply w-3;
}

.custom-scrollbar::-webkit-scrollbar-track {
	@apply bg-slate-300;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	@apply bg-slate-500 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	@apply bg-slate-600;
}

/* Animations */
.fade-in {
	animation: fade-in 0.5s ease-out forwards;
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.zoom-in {
	animation: zoom-in 0.5s ease-out forwards;
	will-change: transform, opacity;
}

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0.75);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

/* Custom Blocks */

.text-interactable,
.box-lift,
.box-depress,
.box-depress > * {
	@apply cursor-pointer transition-all duration-700 ease-out;
}

/* toggle / active underline */
.text-interactable.active {
	@apply accent;
	text-decoration: underline var(--accent) 2px;
	text-underline-offset: 8px;
}

.text-interactable:hover:not(.active) {
	transform: scale(1.5);
	text-shadow: 0px 10px 10px black;
}

.text-interactable:hover {
	transform: scale(1.1);
	text-shadow: 0px 6px 6px black;
}

.text-icon {
	@apply flex items-center gap-2 w-fit;
}

a.box-lift,
.box-depress {
	@apply py-2 px-4;
}

.box-lift {
	@apply accent bg-secondary border;
}

.box-lift:hover {
	@apply secondary bg-accent translate-y-[-15px];
	filter: drop-shadow(0px 10px 10px black);
}

.box-depress {
	@apply flex items-center justify-center rounded-full overflow-hidden border;
}

.box-depress:not(.radio),
.box-depress.radio.active {
	@apply bg-accent secondary;
}

.box-depress:hover:not(.active) {
	box-shadow: inset 0px 4px 10px black;
}

.box-depress:hover:not(.active.radio) > * {
	@apply translate-y-1;
}

.border {
	@apply border-[3px] rounded-xl border-current;
}

.spaced-out {
	@apply text-xs font-bold uppercase tracking-[0.2rem];
}