@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: rgb(118, 80, 255);
	--secondary: rgb(110, 110, 110);
}

body {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

h1 {
	@apply text-5xl font-extrabold text-slate-900;
}

h2 {
	@apply text-3xl font-bold text-slate-900;
}

h3 {
	@apply text-xl text-slate-500;
}

h4 {
	@apply primary spaced-out;
}

p {
	@apply text-slate-600 leading-relaxed text-xl font-light;
}

li {
	@apply ml-8 pl-4 mb-2 list-disc font-light;
}

li::marker {
	content: "✶";
	color: black;
	font-size: 1rem;
}

.spaced-out {
	@apply font-bold text-xs uppercase tracking-[0.2rem];
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #94a3b8;
}

/* Animations */
.fade-in {
	animation: fade-in 0.5s ease-out forwards;
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.zoom-in {
	animation: zoom-in 0.5s ease-out forwards;
	will-change: transform, opacity;
}

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0.75);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.text-interactable,
.box-interactable {
	@apply cursor-pointer transition-all duration-700 ease-out;
}

/* toggle / active underline */
.text-interactable.active {
	color: var(--primary);
	text-decoration: underline var(--primary) 4px;
	text-underline-offset: 8px;
}

.text-interactable:hover:not(.active) {
	transform: scale(1.5);
	text-shadow: 0px 10px 10px black;
}

.text-icon {
	@apply flex items-center gap-2 w-fit;
}

a.box-interactable {
	@apply py-2 px-4;
}

.box-interactable {
	@apply primary bg-black border;
}

.box-interactable:hover {
	@apply text-black bg-primary translate-y-[-15px];
	filter: drop-shadow(0px 10px 10px black);
}

.primary {
	color: var(--primary) !important;
}

.secondary {
	color: var(--secondary) !important;
}

.bg-primary {
	background-color: var(--primary) !important;
}

.bg-secondary {
	background-color: var(--secondary) !important;
}

.border {
	@apply border-4 rounded-3xl border-current;
}
