:root {
	--primary: rgb(118, 80, 255);
	--secondary: rgb(110, 110, 110);
}

body {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #94a3b8;
}
/* Simple fade-in for page load */
.fade-in {
	animation: fadeIn 0.8s ease-out forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.text-interactable,
.box-interactable {
	transition: all 0.5s ease; /* smooth tween for scale + color */
	cursor: pointer;
}

/* toggle / active underline */
.text-interactable.active {
	color: var(--primary);
	text-decoration: underline var(--primary);
	text-underline-offset: 8px;
}

.text-interactable:hover:not(.active) {
	transform: scale(1.5);
	text-shadow: 0px 5px 5px black;
}

.box-interactable {
	border: 5px solid var(--primary);
	background-color: black;
	color: var(--primary);
}

.box-interactable:hover {
	border-color: black;
	background-color: var(--primary);
	color: black;
}

.primary {
	color: var(--primary) !important;
}

.secondary {
	color: var(--secondary) !important;
}

.bg-primary {
	background-color: var(--primary) !important;
}

.bg-secondary {
	background-color: var(--secondary) !important;
}
